proxmox_url = "https://<PROXMOS_URL>/api2/json"
proxmox_username = "<username>@pam"
proxmox_password = ""
proxmox_node = "pve"
clone_vm = "vm-template-name"
vm_id = "xxx"
vm_name = "node-name"
template_description = "base image"
cores = "2"
sockets = "2"
memory = "4096"
ssh_username = "ssh_user"
ip_address = "xxx.xxx.xx.x"
gateway = "xxx.xxx.xx.x"
ssh_public_key_path = "/path/ssh/key.pub"
ssh_private_key_path = "/path/ssh/key"
